.logintype{
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 10px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.logintypes{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logintypes a{
  text-decoration: none;
  font-size: 18px;
  padding:17px;
  color:#4292dc
}
.logintypes:hover{
  background-color: #f7f7f7;
  border :0.4px solid #b4bcbc;
  border-radius: 12px;

}
.input_res{
    outline: none;
    border: none;
    /* background: transparent; */
}

.container {
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
img {
    max-width: 100%;
    /* min-height:300px; */
    height: auto; }
  
  figure {
    margin: 0; }
  
  p {
    margin-bottom: 0px;
    font-size: 15px;
    color: #777; }
  
  h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px; }
  
  .main {
    background: #f8f8f8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}
  .signup-content {
    padding: 75px 0; }
  
.signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden; }
    .signup-content, .signin-content {
        display: flex;
        flex-direction: row;}
  .signup-image {
    margin: 0 45px 0 5px; }
  
  .form-title {
    margin-bottom: 33px; }
  
  .signup-image {
    margin-top: 45px; }
  
  figure {
    margin-bottom: 50px;
    text-align: center; }
  
  .form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    cursor: pointer; }
    .form-submit:hover {
      background: #4292dc; }
  .reg{
    background:rgb(255,142, 158,0.8);
  }
  .reg:hover{
    background: #FF8E9E;
  }
  #signin {
    margin-top: 16px; }
  
  .signup-image-link {
    font-size: 16px;
    color: #222;
    display: block;
    text-align: center; }
  
  .term-service {
    font-size: 13px;
    color: #222; }
  
  .signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px; }
  
  .register-form {
    width: 100%; }
  
  .form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden; }
    .form-group:last-child {
      margin-bottom: 0px; }
  
.input_res{
    font-size: 18px;
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: serif;
    box-sizing: border-box; }
    input:focus {
      border-bottom: 1px solid #222; }

 .lbl {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #222; }
  .material-icons-name {
    font-size: 15px; }
  
  .signin-content {
    padding-top: 67px;
    padding-bottom: 87px; }
   
  .signin-form {
    margin-right: 90px;
    margin-left: 60px; }
  
  .signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px; }
  
  @media screen and (max-width: 1200px) {
    .container,.logintype{
      width: calc( 100% - 30px);
      max-width: 100%; } }
    .logintype{
      margin: auto;
      margin-bottom: 10px;
    }

  @media screen and (min-width: 1024px) {
    .container {
      max-width: 1200px; } }
  @media screen and (max-width: 768px) {
    .main{
        height: auto;
        padding: 20px 0;
    }
    .sign-in{
      width: 100%;
    }
    .signup-content, .signin-content {
      flex-direction: column;
      justify-content: center;}
  
    .signup-form {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      /* box-sizing: border-box; */
      padding: 0 30px; }
  
    .signin-image,.signup-image {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 50px;
      order: 2; }
  
    .signup-form, .signup-image, .signin-form, .signin-image {
      width: auto; }
  
    .social-login {
      justify-content: center;}
  
    .form-button {
      text-align: center; }
  
    .signin-form {
      order: 1;
      margin-right: 0px;
      margin-left: 0px;
      padding: 0 30px; }
  
    .form-title {
      text-align: center; } }
  @media screen and (max-width: 400px) {
    .logintype{
      margin: 12px  auto;
    }
    .logintypes{
      border: 1px solid #f4f4f4;
    }
    .social-login {
      flex-direction: column; }
  
    .social-label {
      margin-right: 0px;
      margin-bottom: 10px; } }
  
  