.main_about{
    padding: 50px 40px 30px 40px;
    background-color: #fff;
   
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     box-sizing: border-box;
     box-shadow: 0px 2px 11.83px 0.17px #000000b3;
     border-radius: 11px;
}
.about_img{
    
    padding:80px
}
.about_img img{
    /* box-shadow: 0px 2px 11.83px 0.17px rgba(0, 0,0,.7); */
    width: 100%;
}
.about_desc{
    padding: 80px;
    color: #808080;
}
.about_desc div{
    color:#1e1e1e;
    font-weight: 635;
    font-size: 30px;
    margin-bottom: 20px;
}
.about_desc ul{
    padding-left: 0;
}
.about_desc li{
   list-style: none;
   font-size: 18px;
   padding:9px 0;
   transition: .25s color;
}
/* .about_desc li:hover{
    color: #1e1e1e;
} */
@media only screen and (max-width:1200px){
    .about_img{
        padding:80px 60px
    }
}
@media only screen and (max-width:992px){
    .about_img{
        padding:70px 45px
    }
    .about_desc{
        padding: 70px 60px;
    }
}
@media only screen and (max-width:768px){
    .about_img{
        padding:60px 25px
    }
    .about_desc{
        padding: 60px 40px;
    }
}
@media only screen and (max-width:586px){
    .main_about{
        padding: 50px 30px 30px 30px;
       
    }
    .about{
        grid-template-columns: repeat(1,1fr);
         box-shadow: 0px 0px 6.5px 0px #000000b3;
    }
    .about_img{
        padding:40px 25px 20px 25px
    }
    .about_desc{
        padding: 20px 40px ;
    }
    .about_desc div{
        font-size: 26px;
    }
    .about_desc li{
        font-size: 17px;
        line-height: 1;
    }
}
@media only screen and (max-width:450px){
    .about{
        grid-template-columns: repeat(1,1fr);
         box-shadow:none;
    }
    .main_about{
        padding: 35px 5px 10px 5px;
    }
    .about_img{
        padding:40px 20px 20px 20px
    }
    .about_desc{
        padding: 20px 30px ;
    }
}